In [15]:
from skimage import data,io
from skimage.feature import  hog
import matplotlib.pyplot as plt
img = data.camera()
log_feat,hog_img = hog(img,visualise=True)
print(log_feat.shape)
# plt.imshow(hog_img)

C:\Users\admin\Anaconda3\envs\tensorflow\lib\site-packages\skimage\feature\_hog.py:150: skimage_deprecation: Default value of `block_norm`==`L1` is deprecated and will be changed to `L2-Hys` in v0.15. To supress this message specify explicitly the normalization method.
  skimage_deprecation)
C:\Users\admin\Anaconda3\envs\tensorflow\lib\site-packages\skimage\feature\_hog.py:248: skimage_deprecation: Argument `visualise` is deprecated and will be changed to `visualize` in v0.16
  'be changed to `visualize` in v0.16', skimage_deprecation)

(311364,)

In [16]:
import numpy as np
import pandas as pd

raw_data ={"name":['Bulbasaur','Charmander','Squirtle','Caterpie'],
           "evolution":['Ivysaur','Charmeleon','Wartortle','Metapod'],
           "type":['grass','fire','water','bug'],
           "hp":[45,39,44,45],
           "pokedex":['yes','no','yes','no']   
            }
pokeman = pd.DataFrame(raw_data)
pokeman.head()

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

In [17]:
pokeman = pokeman[['name','type','hp','evolution','pokedex']]
pokeman

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

In [18]:
pokeman['place']=['park','street','lake','forest']
pokeman

         name   type  hp   evolution pokedex   place
0   Bulbasaur  grass  45     Ivysaur     yes    park
1  Charmander   fire  39  Charmeleon      no  street
2    Squirtle  water  44   Wartortle     yes    lake
3    Caterpie    bug  45     Metapod      no  forest

In [19]:
pokeman.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

AttributeError: module 'skimage.data' has no attribute 'AA'

In [ ]:
apple_stock ={"Date":['2014-07-08','2014-07-07','2014-07-03','2014-07-02','2014-07-01'],
           "Open":['96.27','94.14','93.67','93.87','93.52'],
           "High":['96.80','95.99','94.10','94.06','94.07'],
           "Low":['93.92','94.10','93.20','93.09','93.13'],
           "Close":['95.35','95.97','94.03','93.48','93.52']   
            }