In [1]:
import pandas as pd
import numpy as np

In [2]:
dates = np.arange(20170101,20170105)
df1 = pd.DataFrame(np.arange(12).reshape((4,3)),index=dates,columns=['A','B','C'])
df1

          A   B   C
20170101  0   1   2
20170102  3   4   5
20170103  6   7   8
20170104  9  10  11

In [ ]:
df2  = pd.DataFrame(df1,index=dates,columns=['A','B','C','D','E'])